body {
    width: 60vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16px;
    background-color: transparent;
    color: black;
    padding: 0;
    margin: auto;

}

header {
    width: 100%;
}

header > h1 {
	font-weight: bold;
    font-size: 3rem;
    padding-top: 1rem;
	padding-bottom: 0.5rem;
    margin: 0;
}

header > nav {	
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    padding-left: 0.25rem;
    border-bottom: 1px solid lightgray;
}

header > nav > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header > nav > ul > li {
    padding-right: 1rem;
}

header > nav > ul a {
    text-decoration: none;
    color: blue;
    font-size: 1.5rem;
	border-bottom: 1px solid transparent;
}

header > nav > ul a:hover {
	opacity: 0.7;
}

h2 {
    font-size: 1.5rem;
}

section {
    width: 100%;
}

p {
    text-align: center;
}

section a {
    color: blueviolet;
}

section a:hover {
    opacity: 0.7;
}

/* Carousel styling */
#carousel {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#carousel > button {
    position: absolute;
    top: calc(50% - 8rem);
    font-size: 12rem;
    border: none;
    background-color: transparent;
}

#carousel > button:hover {
    opacity: 0.5;
    cursor: pointer;
}

#carousel_left {
    visibility: hidden;
    left: 0;
}

#carousel_right {
    visibility: hidden;
    right: 0;
}

#image_container {
    padding-left: calc(50% - 120px);
    display: flex;
    flex-direction: row;
    height: 100%;
    transition: all 100ms linear;
    opacity: 0;
}

#image_container .carousel_image {
    width: 240px;
    transition: opacity 100ms linear;
    padding: 0;
    margin: 0;
    padding-right: 12px;
    cursor: pointer;
    position: relative;
    opacity: 0;
}

#image_container .carousel_image:hover::after {
    position: absolute;
    top: calc(50% - 6rem);
    left: calc(50% - 3rem);
    font-size: 6rem;
    color: white;
    content: "\26F6";
}

.carousel_image > figcaption {
    font-size: 10px;
    font-style: italic;
}

.carousel_image > img {
    width: inherit;
    border-radius: 2px;
}

.carousel_image_expanded_container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.carousel_image_expanded_container > .carousel_image {
    width: 35vw;
    opacity: 1.0 !important;
}

input {
    outline: none;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 1rem;
    padding: 0.5rem;
}

input:focus {
    border: 1px solid lightgray;
}

.action_button {
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    width: 108px;
    height: 2rem;
}

.action_button:hover {
    cursor: pointer;
    opacity: 0.9;
}

/* Theme display */
#theme_container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: transparent;
	z-index: -1;
}

#theme_canvas {
	width: 100%;
	height: 100%;
	z-index: -1;
}

/* Theme Selector */
#theme_selector {
	width: 50%;
	display: flex;
	align-items: center;
	bottom: 1rem;
    pointer-events: all;
    opacity: 1;
    transition: opacity 150ms linear;
}

#theme_selector.hidden {
    pointer-events: none;
    opacity: 0;
}

#theme_selector > button {
	width: 5rem;
	height: 2rem;
	border-radius: 3px;
	border: 1px solid black;
	color: black;
	background-color: white;
	cursor: pointer;
	transition: opacity 100ms linear;
    margin-right: 1rem;
    margin-left: 1rem;
}

#theme_selector > button:hover {
	opacity: 0.8;
}

#theme_selector > #theme_button_default {
}

#theme_selector > #theme_button_autumn {
	background-color: orange;
}

#theme_selector > #theme_button_winter {
	background-color: #79C0D7;
}

/* Phone screen adjustments */
@media only screen and (device-width: 1280px),
only screen and (max-width:1280px) {
    header > h1 {
        font-size: 1.5rem;
    }

    body {
        width: 90vw !important;
    }
    
    #theme_selector  {
        padding-bottom: 2rem !important;
    }

    .carousel_image_expanded_container > .carousel_image {
        width: 100vw;
    }
}
