html {
    overflow-y: overlay;
}

body {
    font-size: 14px !important;
}

header {
    padding-bottom: 1rem;
}

#actions_container {
    padding-bottom: 1rem;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#resume {
    position: relative;
    text-align: left;
    background-color: white;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    line-height: 1.2rem;
    padding-bottom: 1rem;
}

#resume_container {
    display: flex;
    flex-direction: row;
}

#resume a {
  color: #343231;
}

#resume_sidebar {
    width: 204px;
    margin-right: 24px;
}

#resume_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 32px;
}

.resume_header_name {
    font-size: 48px;
    font-variant: small-caps;
    word-wrap: break-word;
    padding: 0;
    margin: 0;
	font-weight: 500;
    margin-bottom: 32px;
}

#resume_header_contact {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    flex-direction: column;
}

#resume_header_contact span {
    margin-bottom: 8px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#resume_header_contact i {
    margin-right: 8px;
    font-style: normal;
}

.resume_section {
    width: 100%;
    text-align: left;
}

.resume_section > h2 {
    font-size: 18px !important;
    font-variant: small-caps;
    font-weight: bold;
    padding: 0;
    margin: 0;
	padding: 5px;
    background-color: #2E4C6D;
	color: white;
}

.resume_section_content {
	padding: 0.5rem;
}

.experience-header > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.experience-item li {
    width: 100%;
}

.experience-tech {
    font-size: 14px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.experience-tech > svg {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

#skills_section {
    display: flex;
    flex-direction: column;
}

.skills_section_item {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.skills_section_bar {
    position: relative;
    width: 100%;
    height: 16px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid lightgray;
}

.skills_section_bar_fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right,#007acc, #00E091);
    border-radius: 3px;
    background-size: 204px 100%;
}

.skills_section_bar_fill.one {
    width: 20%;
}

.skills_section_bar_fill.two {
    width: 40%;
}

.skills_section_bar_fill.three {
    width: 60%;
}

.skills_section_bar_fill.four {
    width: 80%;
}

.skills_section_bar_fill.five {
    width: 100%;
}

.skills_section_label {
    width: 100%;
    margin-top: 4px;
    color: black;
    font-size: 16px;
}


/** Web-only **/
#resume_button_container {
    width: 100%;
    text-align: right;
    margin-right: 1rem;
    margin-bottom: 1rem;
    
}

#resume_button_container > button {
    border: none;
    background-color: transparent;
    font-size: 20px;
}

#resume_button_container > button:hover {
    cursor: pointer;
    opacity: 0.8;
}

#resume.resume_fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem;
    width: calc(100vw - 4rem);
    height: calc(100vh - 4rem);
    overflow: auto;
}