body {
    font-size: 14px !important;
}

header {
    padding-bottom: 1rem;
}

#actions_container {
    padding-bottom: 1rem;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#resume {
    position: relative;
    text-align: left;
    background-color: white;
    border-radius: 2px;
    color: black;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif !important; 
    line-height: 1.2rem;
    padding-bottom: 1rem;
}

#resume_button_container {
    position: absolute;
    top: 0;
    right: 1rem;
    text-align: right;
    
}

#resume_button_container > button {
    border: none;
    background-color: transparent;
}

#resume_button_container > button:hover {
    cursor: pointer;
    opacity: 0.8;
}

#resume.resume_fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem;
    width: calc(100vw - 4rem);
    height: calc(100vh - 4rem);
    overflow: auto;
}


#resume > div {
    text-align: left;
}

h2 {
    font-size: 1.25rem !important;
    font-variant: small-caps;
    border-bottom: 1px solid #d9d9d9;
    font-weight: bold;
    width: 100%;
    padding: 0;
    margin: 0;
    line-height: 2rem;
}

.skill-section {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.skill-section > b {
    width: 25%;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.skill-section > div {
    width: 75%;
}

.experience-header > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
