html {
  overflow-y: overlay;
}

body {
  font-size: 14px !important;
  padding-top: 72px;
  padding-left: 48px;
  padding-right: 48px;
  font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}