html {
  overflow-y: overlay;
}

body {
  font-size: 14px !important;
  padding-top: 72px;
  padding-left: 48px;
  padding-right: 48px;
  font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
}

header {
  padding-bottom: 1rem;
}

#actions_container {
  padding-bottom: 1rem;
  
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#resume {
  position: relative;
  text-align: left;
  background-color: white;
  color: black;
  line-height: 1.2rem;
  padding-bottom: 1rem;
}

#resume a {
  color: #343231;
}

#resume_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#resume_header > h1 {
  font-size: 24px;
  padding: 0;
  margin: 0;
  font-weight: 500;
}

#resume_header_contact {
  font-size: 10px;
}

#resume_header_contact span {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

#resume_header_contact i {
  margin-right: 0.25rem;
  font-style: normal;
}

.resume_section {
  width: 100%;
  text-align: left;
}

.resume_section > h2 {
  font-size: 18px !important;
  font-variant: small-caps;
  font-weight: bold;
  padding: 0;
  margin: 0;
  padding: 10px;
  background-color: #2E4C6D;
  color: white;
}

.resume_section_content {
  padding: 0.5rem;
}

.skill-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skill-section > div {
  width: 75%;
}

.experience-header > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.experience-item li {
  width: 100%;
}

.experience-tech {
  font-size: 14px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.experience-tech > svg {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}


/** Web-only **/
#resume_button_container {
  width: 100%;
  text-align: right;
  margin-right: 1rem;
  margin-bottom: 1rem;
  
}

#resume_button_container > button {
  border: none;
  background-color: transparent;
  font-size: 20px;
}

#resume_button_container > button:hover {
  cursor: pointer;
  opacity: 0.8;
}

#resume.resume_fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem;
  width: calc(100vw - 4rem);
  height: calc(100vh - 4rem);
  overflow: auto;
}
